<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>pomelo.root</param-value>
	</context-param>

	<!-- 配置spring监听器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- 允许所有地址跨域访问 -->
	<filter>
		<filter-name>allowCrossAccessFilter</filter-name>
		<filter-class>com.pomelo.web.AllowCrossAccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>allowCrossAccessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 启用 Spring MVC -->
	<servlet>
		<servlet-name>spring4</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/appctx.xml</param-value>
		</init-param>
		<!-- 在容器启动的时候就加载这个servlet -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring4</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
